@model IEnumerable<DevPath.Models.Skill>
@{
    ViewBag.ViewTitle = "Skills";
    ViewBag.Message = $"Dyno currently has {@Model.Count()} skills.";
}

@Html.Partial("_Header")

@if (Model.Any())
{
    <div class="ex-basic-1 bg-black pb-4">
        <div class="container">
            <p>@Html.ActionLink("Add Skill", "New", "Skills", new { @class = "btn btn-primary" })</p>
            <!-- Table -->
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th class="d-none d-md-table-cell">Icon</th>
                        @*<th>Description</th>*@
                        <th>Title</th>
                        <th class="d-none d-sm-table-cell">@(User.Identity.IsAuthenticated ? "My Projects" : "Projects")</th>
                        <th class="d-none d-lg-table-cell">Development</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var skill in Model)
                    {
                        <tr>

                            @*ICON*@

                            <td class="d-none d-md-table-cell">
                                @*<div style="
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: space-evenly;">*@
                                @if (skill.Icon != null && skill.Icon != "")
                                {
                                    <a href="@Url.Action(
                                                "Details",
                                                "Skills",
                                                new { id = skill.Id })"
                                       title=@($"{skill.Title} Details")
                                       @*style="
                                                display: flex;
                                                width: 100%;"*@>
                                        <img src="@Url.Content(skill.Icon)"
                                             alt=@($"{skill.Title} Icon")
                                             class="img-fluid"
                                             style="
                                                    width: 50px;
                                                    /*height: 100px;*/
                                                    margin: 0 auto;
                                                    object-fit: scale-down;" />
                                    </a>
                                }
                                @*</div>*@
                            </td>

                            @*DESCRIPTION*@

                            @*<td>
                                    @if (skill.Icon != null && skill.Icon != "")
                                    {
                                        <a href="@Url.Action("Details", "Skills", new { id = skill.Id })" title=@($"{skill.Title} Details") style="display: flex; width: 100%;">
                                            <img src="@Url.Content(skill.Icon)" alt=@($"{skill.Title} Icon") class="d-md-none d-sm-block" style="width: 150px; height: 100px; margin: 0 auto; object-fit: scale-down;" />
                                        </a>
                                    }
                                    <p>
                                        @Html.ActionLink(skill.Title, "Details", "Skills", new { id = skill.Id }, new { style = "text-decoration: none;" })
                                    </p>
                                    @if (!skill.Description.IsEmpty())
                                    {
                                        <p>
                                            @skill.Description
                                        </p>
                                        <p class="d-lg-none d-md-block">Added to database on @skill.DateAdded.Value.Date.ToShortDateString()</p>
                                    }
                                </td>*@

                        <td>
                            <a href="@Url.Action(
                                                "Details",
                                                "Skills",
                                                new { id = skill.Id })"
                               title=@($"{skill.Title} Details")
                               style="text-decoration: none;"
                            >
                                <p>@skill.Title</p>
                            </a>
                        </td>

                            @*PROJECTS*@

                            <td class="d-none d-sm-table-cell">
                                <div class="overlapping-avatars">
                                    @{
                                        var projectCount = skill.ProjectSkills.Count;
                                        var projectsCapacity = 5;
                                        var projectsToDisplay = projectCount <= projectsCapacity ? projectCount : projectsCapacity;
                                        var projectsHidden = projectCount - projectsToDisplay;
                                    }
                                    @for (int i = 0; i < projectsToDisplay; i++)
                                    {
                                        if (!skill.ProjectSkills[i].Project.Icon.IsEmpty())
                                        {
                                            <span class="overlapping-avatar">
                                                <a href="@Url.Action(
                                                        "Details",
                                                        "Projects",
                                                        new { id = skill.ProjectSkills[i].Project.Id })"
                                                   title=@($"{skill.ProjectSkills[i].Project.Title} Details")
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top"
                                                   style="text-decoration: none">
                                                    <img src="@Url.Content(skill.ProjectSkills[i].Project.Icon)">
                                                </a>
                                            </span>
                                        }
                                    }
                                    @{
                                        if (projectsHidden > 3)
                                        {
                                            @Html.ActionLink($"and {@projectsHidden} more", "Details", "Projects", new { id = skill.Id })
                                        }
                                    }
                                </div>
                                @if (projectsHidden > 3)
                                {
                                    <p style="margin: 0;">@projectCount Projects </p>
                                }
                            </td>

                            @*DEVELOPMENT*@

                            <td class="d-none d-lg-table-cell">
                                <p>
                                    @skill.Developer
                                </p>
                                <p>
                                    @(skill.ReleaseDate.HasValue ? skill.ReleaseDate.Value.Date.ToString("dd MMM yyyy") : "")
                                </p>
                            </td>


                            @*ACTIONS*@

                            <td>
                                @Html.Partial("_ActionButtons", skill)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of table -->
}


