@using Microsoft.AspNet.Identity;
@model IEnumerable<DevPath.Models.EmploymentOffer>
@{
    ViewBag.ViewTitle = "Offers";
    ViewBag.Message = $"You have {@Model.Count()} offers.";
}

@Html.Partial("_Header")


@if (Model.Any())
{
    <div class="ex-basic-1 bg-black pb-4">
        <div class="container">
            <p>@Html.ActionLink("Add Offer", "New", "EmploymentOffers", new { @class = "btn btn-primary" })</p>
            <!-- Table -->
            <table class="table table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell">Title</th>
                        <th>Company</th>
                        <th class="d-none d-sm-table-cell">Compensation</th>
                        <th class="d-none d-sm-table-cell" class="d-none d-sm-table-cell">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var offer in Model)
                    {
                        <tr>
                            @*TITLE*@
                            <td class="d-none d-sm-table-cell">
                                @offer.EmploymentListing.Title
                            </td>
                            @*COMPANY*@
                            <td>
                                <p>
                                    Client: @offer.EmploymentListing.ClientCompany.Title
                                </p>
                                <p>
                                    Recruiter: @offer.EmploymentListing.StaffingCompany.Title
                                </p>
                            </td>
                            @*COMPENSATION*@
                            <td class="d-none d-sm-table-cell">
                                <p>
                                    Offered: @offer.PayQuantity
                                </p>
                                <p>
                                    Listed: @offer.PayQuantity
                                </p>
                            </td>
                            @*DETAILS*@
                            <td class="d-none d-sm-table-cell">
                                <p>
                                    Offer Details:
                                    <span>@offer.FullText</span>
                                </p>
                                <p>
                                    Listing Details:
                                    <span>@offer.EmploymentListing.FullText</span>
                                </p>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

