@model DevPath.ViewModels.Companies.CompanyFormViewModel
@{
    ViewBag.Title = "CompanyForm";
}

<h2>@Model.PageTitle</h2>

@using (Html.BeginForm("Save", "Companies"))
{
    <div class="mb-3">
        @Html.LabelFor(c => c.Title)
        @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label>
            @Html.CheckBoxFor(c => c.IsStaffingCompany) Staffing Company
        </label>
    </div>
    <div class="mb-3">
        @Html.LabelFor(c => c.Description)
        @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(c => c.WebsiteUrl)
        @Html.TextBoxFor(c => c.WebsiteUrl, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(p => p.DateAdded)
    <button type="submit" class="btn btn-primary">Save</button>
}

@*COUNTRY/STATE/CITY FORM TUTORIAL:*@
@*https://tutorialslink.com/Articles/Bind-Country-State-and-City-Dropdownlist-in-Aspnet-MVC-using-ajax/21*@