@model IEnumerable<DevPath.Models.Project>
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>DevPath has @Model.Count() projects.</p>

<p>@Html.ActionLink("New Project", "New", "Projects", new { @class = "btn btn-primary" })</p>

<ul style="padding:0; list-style-type:none;" >
    @foreach (DevPath.Models.Project project in @Model)
    {
        <li>
            <dev>
                <p>
                    @project.Title - @project.Id
                </p>
                <p>
                    @project.Description
                </p>
            </dev>
        </li>
    }
</ul>

