@model IEnumerable<DevPath.Models.Project>
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>DevPath currently has @Model.Count() projects.</p>

<p>@Html.ActionLink("New Project", "New", "Projects", new { @class = "btn btn-primary" })</p>

<ul style="padding:0; list-style-type:none;">
    @foreach (DevPath.Models.Project project in @Model)
    {
        <li>
            <div>
                <a href=@($"/Projects/Details/{project.Id}")>
                    @project.Title - @project.Id
                </a>
                <div style="display:flex; justify-content:space-between;">
                    <p>
                        @project.Description
                    </p>
                    <p>@Html.ActionLink("Delete Project", "Delete", "Projects", new { id = project.Id }, new { @class = "btn btn-danger", @style = "margin-left:20px" })</p>
                </div>

            </div>
        </li>
    }
</ul>

