@model IEnumerable<DevPath.Models.Project>
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>DevPath currently has @Model.Count() projects.</p>

<p>@Html.ActionLink("New Project", "New", "Projects", new { @class = "btn btn-primary" })</p>

@if (Model.Any())
{
    <table class="table table-bordered table-hover"
           @*style="table-layout:fixed;"*@>
        <thead>
            <tr>
                <th>Project</th>
                <th>Description</th>
                <th>Skills</th>
                <th class="d-none d-lg-table-cell" style="width:150px;">Repo</th>
                <th class="d-none d-lg-table-cell" style="width:150px;">Deployment</th>
                <th class="d-none d-lg-table-cell">Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {

                <tr>
                    <td>
                        <p>
                            @Html.ActionLink(project.Title, "Details", "Projects", new { id = project.Id }, new { style = "text-decoration: none;" })
                        </p>
                        @if (project.Icon != null)
                        {
                            <a href="@Url.Action("Details", "Projects", new { id = project.Id })" title=@($"{project.Title} Details") style="display: flex; width: 100%;">
                                <img src="@Url.Content(project.Icon)" alt=@($"{project.Title} Icon") class="rounded-circle" style="width: 150px; height: 150px; margin: 0 auto; object-fit: cover;" />
                            </a>
                        }
                    </td>
                    <td>

                        @project.Description
                    </td>
                    <td>
                        @foreach (var projectSkill in project.ProjectSkills)
                        {
                            <a href="@Url.Action("Details", "Skills", new { id = projectSkill.Skill.Id })" title=@($"{projectSkill.Skill.Title} Details") data-bs-toggle="tooltip" data-bs-placement="top" style="text-decoration: none">
                                <img src="@Url.Content(projectSkill.Skill.Icon)" alt=@($"{projectSkill.Skill.Title} Icon") class="rounded-circle" style="width: 48px; height: 48px; object-fit: cover;" />
                            </a>
                        }
                    </td>
                    <td class="d-none d-lg-table-cell" style="width:150px; word-wrap: break-word;">
                        <a href=@project.RepositoryUrl title=@($"{project.Title} Repo")>
                            @project.RepositoryUrl
                        </a>
                    </td>
                    <td class="d-none d-lg-table-cell" style="width:150px; word-wrap: break-word;">
                        <a href=@project.DeploymentUrl title=@($"{project.Title} Deployment")>
                            @project.DeploymentUrl
                        </a>
                    </td>
                    <td class="d-none d-lg-table-cell" style="white-space: nowrap;">@project.DateAdded.ToString("yyyy-MM-dd")</td>
                    <td>
                        <div class="d-grid gap-2">
                            @if (project?.RepositoryUrl != null)
                            {
                                <a href=@project.RepositoryUrl class="btn btn-primary">Repo</a>
                            }
                            else
                            {
                                @Html.ActionLink("Add Repo", "Edit", "Projects", new { id = project.Id }, new { @class = "btn btn-outline-primary" })
                            }
                            @if (project?.DeploymentUrl != null)
                            {
                                <a href=@project.DeploymentUrl class="btn btn-primary">Site</a>
                            }
                            else
                            {
                                @Html.ActionLink("Add Site", "Edit", "Projects", new { id = project.Id }, new { @class = "btn btn-outline-primary" })
                            }
                            @Html.ActionLink("Delete", "Delete", "Projects", new { id = project.Id }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

