@model DevPath.ViewModels.Projects.ProjectFormViewModel
@{
    ViewBag.Title = @Model.PageTitle;
}

<h2>@Model.PageTitle</h2>

@using (Html.BeginForm("Save", "Projects"))
{
    <div class="mb-3">
        @Html.LabelFor(p => p.Title)
        @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(p => p.Description)
        @Html.TextAreaFor(p => p.Description, new { @class = "form-control" })
    </div>
    <img src="@Url.Content(Model.Icon)" alt=@($"{Model.Title} Icon") class="rounded-circle mb-3" style="width: 150px; height: 150px; margin: 0 auto; object-fit: cover;" />
    <div class="mb-3">
        @Html.LabelFor(p => p.Icon)
        @Html.TextBoxFor(p => p.Icon, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(p => p.RepositoryUrl)
        @Html.TextBoxFor(p => p.RepositoryUrl, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(p => p.DeploymentUrl)
        @Html.TextBoxFor(p => p.DeploymentUrl, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(p => p.DateAdded)
    <button type="submit" class="btn btn-primary">Save</button>
}

